.item {
  background: cornflowerblue url(./../../../imgs/Photo4.jpg);
  height: 500px;
  background-size: 100%;
}
.content {
  height: 500px;
display: flex;
align-items: center;
justify-content: center;
}
