.item {
  background: cornflowerblue url(./../../../imgs/Photo2.jpg);
  height: 500px;
  background-size: 100%;
}
.content {
  height: 500px;
display: flex;
align-items: center;
justify-content: center;
}

.dialogs {

display: grid;
grid-template-columns: 3fr 3fr ;
 
}

.dialogsItem {
  padding: 10px;
}
.dialogsItem .active {
  color: gold;
}
.messages {
  /* padding: 10px; */
}
.message {
  display: table;
/* padding: 10px; */
}
.dialog {
  display: table;
}