.item {
    background: url(./../imgs/Cherkassy.jpg);
    height: 500px;
    background-size: 100%;
}
.content {
    height: 500px;
  display: flex;
  align-items: center;
  justify-content: center 
}
