.app-wrapper {
  display: grid;
  grid-template-rows: 20px 10fr ;
  grid-template-columns: auto;
  grid-template-areas: 
  "t"
  "h"
  "m";
}

.top {
  grid-area: t;
}
.header {
  grid-area: h;
}
.main {
 margin: 0 auto;
  grid-area: m;
}