
.li {
  display: inline;
  padding: 0 auto;
  list-style-type: none;
    overflow: hidden;
    padding-inline-start: 250px;
  }
  a {
    color: rgb(35, 116, 116);
    font-size: large;
    text-decoration: none;
  }
  
   div {
     display: inline;
     margin: 10px;
   }

   a.active {
     color: rgba(74, 183, 190, 0.596);     
   }